body {
    background-color: rgb(140, 189, 133);
  }
button {
    background-color: #227627;
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8eb88d; /
}
input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: square; /* Estilo do marcador da lista */
    padding-left: 20px;
    margin-top: 15px;
}

li {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}
