body {
    background-color: rgb(239, 246, 146);
  }
  h1 { 
     font-family: Papyrus;
     text-align: center;
  }
  p {
    font-family: 'Times New Roman';
  }
 p{
  font-size: 20px;
  text-align: center;
 }
 .imagem-Princesasapo {
  width: 200px; 
  height: auto; 
  display: block;     
    margin: 20px auto;  

    }
    .link-equipe {
      display: block;
      text-align: center;   
      margin: 20px auto;   
      color: #333333;      
      text-decoration: none; 
      font-weight: bold;    /
  }
  
  .link-equipe:hover {
      color: #555555;      

      }
        .imagem-pascal {
            width: 200px;
            height: auto;
            display: block;
            margin: 20px auto;

        }
        .imagem-aristogatas {
          width: 200px;
          height: auto;
          display: block;
          margin: 20px auto;
        }
        